
body {
    margin: 0;
    padding: 0;
    background-color: #a80000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
}

.content {
    padding: 2em;
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}

.lyrics {
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 2em;
}

.mascot {
    max-width: 100%;
    height: auto;
}

.maskot-float {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 180px;
    z-index: 10;
}
